{% extends 'user/user.html.twig' %}
{% block body %}

    <h1>
        {{ title }}
    </h1>
    <a href="{{ path('user_summaries') }}">Users</a><br>
    <a href="{{ path('app_logout') }}">Exit</a>
{% endblock %}